# Node.js
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# dotenv environment variables
.env
**/.env

# Build output
build/
dist/
coverage/

# React/Next.js
*.local
.next/
out/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.swp
*.swo

# Ignore IDE folders
.idea/
*.iml

# Ignore test coverage
coverage/

# Ignore production Docker artifacts
docker-compose.override.yml

# Ignore by service
/ui/client-portal/build/
/ui/client-portal/.env
/ui/client-portal/node_modules/

# Ignore by convention
**/build/
**/dist/
**/coverage/
**/.env
**/.env.*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
